* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

:root {
    --light-gray: #999;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#entry {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 600px;
}

#day-editor, #activity-editor  {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 50%;
    padding: 8px;
    background-color: var(--light-gray);
}

#days, #activities {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    height: 600px;
    background-color: var(--light-gray);
}

#activities {
    width: 800px;
}

.day, .activity {
    display: flex;
    align-items: center;
    width:  100%;
    height: 16px;
}

.activity {
    position: relative;
}

.activity > * {
    position: absolute;
    height: 100%;
}

