* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

:root {
    --light-gray: #999;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#entry {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 600px;
}

#day-editor, #activity-editor  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 50%;
    padding: 8px;
    background-color: var(--light-gray);
}

#add-day, #mod-day, #add-activity, #mod-activity {
    display: flex;
    flex-direction: column;
    gap: 4px;
    > div {
        display: flex;
        gap: 8px;
        align-items: center;
    }
}

#days, #activities {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    height: 600px;
    background-color: var(--light-gray);
}

#activities {
    width: 800px;
}

.day, .activity {
    display: flex;
    align-items: center;
    width:  100%;
    height: 16px;
}

.activity {
    position: relative;
}

.activity > * {
    display: flex;
    align-items: center;
    position: absolute;
    height: 0;

    --line-height: 10px;
    --point-radius: 5px;
    --point-diameter: calc(var(--point-radius) * 2);
}

.dash {
    position: absolute;
    width: calc(100% - var(--point-diameter));
    height: var(--line-height);
    left: var(--point-radius);
    background-color: inherit;
}

.begin-point, .end-point {
    width: var(--point-diameter);
    height: var(--point-diameter);
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
}

.end-point {
    left: calc(100% - 10px);
}

